.App {
  font-family: Consolas,monaco,monospace;
  text-align: center;
  margin: 0%;
  padding: 0%;
  background-color: #303134;
}
html{
  background-color: #303134;
}
span{
  display: 'block';
}
#ResumeTitle
{
  background-color: #313639;
  padding-top: 5px;
  padding-bottom: 0;
  color: black;
  border-bottom: 2px solid black;
}
.container
{
  margin: auto;
  padding-top: 8rem;
}
.card
{
  width: 18rem;
}